<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- /Header -->
	<%- include("./partials/header") %>

	<!-- product detail -->
<div class="container products-wrapper">
    <% let productoEncontrado; %>
    <% for (let i = 0; i < productos.length; i++) { %>
        <% if (productos[i].id === productId) { %>
            <% productoEncontrado = productos[i]; %>
            <% break; %>
        <% } %>
    <% } %>

    <% if (productoEncontrado) { %>
        <div class="d-flex align-items-center">
            <h2 class="products-title"><%= productoEncontrado.modelo %></h2>
            <p class="product-detail-description">
                <a href="product-add.ejs">Editar</a>
            </p>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="<%= productoEncontrado.imagen %>" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                        <%= productoEncontrado.descripcion %>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    <!-- comentarios y formulario de comentario -->
                </div>
            </div>
        </div>
    <% } else { %>
        <p>No se encontró el producto.</p>
    <% } %>
</div>
<!-- /product detail -->

<%- include("./partials/footer") %>
	
</body>	
</html>