<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- /Header -->
	<% if (locals.user != null) { %>
		<%-include('./partials/headerLogueado', { info: user }) %>
	 <% } else { %>
		<%- include('./partials/header', { info: user }) %>
	 <% } %>

	<!-- product detail -->
	<div class="container products-wrapper">
        <% let productoEncontrado; %>
        <% for (let i = 0; i < productos.length; i++) { %>
            <% if (productos[i].id == productId) { %>
                <% productoEncontrado = productos[i]; %>
                <% break; %>
            <% } %>
        <% } %>
        <% if (productoEncontrado) { %>
            <div class="d-flex align-items-center">
                <h2 class="products-title"><%= productoEncontrado.nombre_producto %></h2> 
                <p class="product-detail-description">
                    <a href="/product-add">Editar</a>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src=" <%= productoEncontrado.imagen_producto %>" alt="Imagen del producto" class="product-detail-img">
                        <p class="product-detail-description">
                            <%= productoEncontrado.descripcion_producto %>
                        </p>
                    </article>
                    <div class="col-12 col-lg-4">
    <!-- Comentarios del producto -->
                <section class="comments">
                    <% if (productoEncontrado.comentarios && productoEncontrado.comentarios.length > 0) { %>
                        <% productoEncontrado.comentarios.forEach(function(comentario) { %>
                            <article>
                                <img src="<%= comentario.imagen_perfil %>" alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong><a href="/users/profile/<%= comentario.nombre_de_usuraio %>"><%= comentario.nombre_de_usuraio %>:</a></strong>
                                        <%= comentario.texto %>
                                    </p>
                                </div>
                            </article>
                        <% }); %>
                    <% } else { %>
                        <p>Este producto no tiene comentarios.</p>
                    <% } %>
                </section>
                        <form class="form" action="" method="POST">
                            <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        <% } else { %>
            <h2>Producto no encontrado.</h2>
        <% } %>
        <!-- /product detail -->
    </div>

<%- include("./partials/footer") %>
	
</body>	
</html>