<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- /Header -->
	<% if (locals.user != null) { %>
		<%-include('./partials/headerLogueado', { info: user }) %>
	 <% } else { %>
		<%- include('./partials/header', { info: user }) %>
	 <% } %>

	<!-- product detail -->
	<div class="container products-wrapper">

        <% if (producto) { %>
            <div class="d-flex align-items-center">
                <h2 class="products-title"><%= producto.nombre_producto %></h2> 
                <p class="product-detail-description">

                    <% if (locals.user && locals.user.id == producto.usuario_id) { %>
                        
                           <a href="/products/edit/<%=producto.id%>">Editar</a>
                           <a href="/products/delete/<%=producto.id%>">Borrar producto</a>
                    <% } %>
                </p>
            </div>
            <div class="product-detail">
                <div class="row">
                    <article class="col-12 col-lg-8 product-detail-info">
                        <img src="/<%= producto.imagen_producto %>" alt="Imagen del producto" class="product-detail-img">
                        <p class="product-detail-description">
                            <%= producto.descripcion_producto %>
                        </p>
                    </article>
                    <div class="col-12 col-lg-4">
    <!-- Comentarios del producto -->
                <section class="comments">
                    <% if (producto.comentarios && producto.comentarios.length > 0) { %>
                        <% for(let i = 0 ; i< producto.comentario.lenght ; ++ ) { %>
                            <article>
                                <img src="<%= producto.comentario[i].comentador.imagen_perfil %>" alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong><a href="/users/profile/<%= producto.comentario[i].comentador.id%>"><%= producto.comentario[i].comentador.nombre %>:</a></strong>
                                        <%= producto.comentario[i].texto_comentario %>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    <% } else { %>
                        <p>Este producto no tiene comentarios.</p>
                    <% } %>
                </section>
                        <form class="form" action="/add" method="POST">
                            <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                    <h3 class="product-detail-description"> Este producto le pertenece a  
                        <a href="/users/profile/<%= producto.usuario_id %>"> <%=  producto.duenio.nombre %>   </a> 
                    </h3>
            </div>
        <% } else { %>
            <h2>Producto no encontrado.</h2>
        <% } %>
        <!-- /product detail -->
    </div>

<%- include("./partials/footer") %>
	
</body>	
</html>