<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Include Header -->
	<% if (locals.user != null) { %>
		<%-include('./partials/headerLogueado', { info: user }) %>
	 <% } else { %>
		<%- include('./partials/header', { info: user }) %>
	 <% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form method="POST" action="/product/edit/<%= productos.id %>">
					<label for="name">Nombre del producto:</label>
					<input type="text" id="name" name="name" value="<%= productos.nombre_producto %>" required>
					
					<label for="description">Descripción:</label>
					<input type="text" id="description" name="description" value="<%= productos.descripcion_producto %>" required>
					
					<label for="image">Imagen del producto:</label>
					<input type="text" id="image" name="image" value="<%= productos.imagen_producto %>" required>
					
					<button type="submit">Guardar cambios</button>
				  </form> 
			</h2>

		</div>
	</div>

<%- include("./partials/footer") %>
</body>

</html>