<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Header trabajando-->
	<% if (locals.user != null) { %>
		<%-include('./partials/headerLogueado', { info: user }) %>
	 <% } else { %>
		<%- include('./partials/header', { info: user }) %>
	 <% } %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<% if (info) { %>
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src= "/images/users/<%= info.foto_perfil %>" alt="foto de perfil" class="foto-perfil"> <!--chequear pra foto perfil usuario -->
			</div>

			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
<!-- Esta funci贸n la agregamos nostros. Unicamente si el perfil le pertenece al usuario en sesi贸n, 
 le muestra la opci贸n de de profile-edit y no le va a mostar la opcion de seguir. Si no le pertenece, 
 mostarar unicamente la opci贸n de seguir -->						
						<%= info.nombre %>
						<% if (locals.user && locals.user.id == info.id) { %>
							<a href="/users/edit/<%= info.id %>">
								<i class="fas fa-cog"></i>
							</a>
						<% } %>
					</h1>
					<% if (!locals.user || locals.user.id != info.id) { %>
						<a class="btn mt-3 ml-4" href="">SEGUIR</a>
					<% } %>
				</div>
				<div>
					<ul class="">
						<li><%= info.email %></li>
						<li><%= info.medias.length %> productos</li>
						<li><%= info.comentarios.length %> comentarios</li>
					</ul>
				</div>
			</div>
		</div>
		<% } else { %>
            <div class="row">
                <div class="col-12">
                    <h2>Usuario no encontrado</h2>
                </div>
            </div>
        <% } %>

	</section>
	<!-- /Datos del usuario -->

    <!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<% if (info.medias.length === 0) { %>
				<div class="col-12">
					<h2 class="products-title">El usuario <%= info.nombre %> no tiene productos cargados</h2>
				</div>
			<% } else { %>
				<div class="col-12">
					<h2 class="products-title">Productos de <%= info.nombre %></h2>
				</div>
				<% for (let i = 0; i < info.medias.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/id/<%= info.medias[i].id %>">
								<figure class="product-box_image">
									<img src="/<%= info.medias[i].imagen_producto %>" alt="producto"> <!-- imagen de los productos -->
								</figure>
								<article class="product-box_data">
									<h2><%= info.medias[i].nombre_producto %></h2>
									<p><%= info.medias[i].descripcion_producto %></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	<!-- /Mis productos -->

	<%- include("./partials/footer") %>
</body>	
</html>